<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Veículos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="mt-5 container">
    <h1 class="my-4">Cadastro de Veículos</h1>

    <!-- Tabela responsiva do Bootstrap -->
    <div class="table-responsive">
        <div class="container mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Contagem de Veículos</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Total de veículos ativos: <span th:text="${contagemVeiculos}">0</span></li>
                        <li class="list-group-item">Total de veículos na região Sul: <span th:text="${contagemSul}">0</span></li>
                        <li class="list-group-item">Total de veículos na região Leste: <span th:text="${contagemLeste}">0</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <form th:action="@{/}" method="get" class="d-flex align-items-center mb-2">
            <div class="input-group">
                <input type="text" name="pesquisa" class="form-control" placeholder="Digite a palavra-chave" th:value="${param.pesquisa}">
                <button type="button" class="btn btn-outline-secondary" onclick="limparPesquisa()">Limpar</button>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </form>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center">Placa</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Modelo</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Unidade</th>
                <th class="text-center">Data de Cadastro</th>
                <th class="text-center">#</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop para exibir cada veículo -->
            <tr class="text-center" th:each="veiculo : ${veiculosAtivos}">
                <td class="text-center align-middle" th:text="${veiculo.placa}"></td>
                <td class="text-center align-middle" th:text="${veiculo.marca}"></td>
                <td class="text-center align-middle" th:text="${veiculo.modelo}"></td>
                <td class="text-center align-middle" th:text="${veiculo.tipo}"></td>
                <td class="text-center align-middle" th:text="${veiculo.unidade}"></td>
                <td class="text-center align-middle" th:text="${veiculo.dtCadastro}"></td>
                <td class="text-center align-middle">
                    <div class="btn-group">
                        <a class="m-2 btn btn-primary" th:href="@{/edicao/{id}(id=${veiculo.codVeiculo})}" id="editar" type="button" >Editar</a>
                        <a class="m-2 btn btn-danger" th:href="@{/deletar/{id}(id=${veiculo.codVeiculo})}" id="deletar" type="button" >Deletar</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" th:href="@{'/?pagina=' + ${paginaAnterior}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            </li>
            <li class="page-item" th:each="pagina : ${#numbers.sequence(0, totalPaginas - 1)}">
                <a class="page-link" th:href="@{'/?pagina=' + ${pagina}} " th:text="${pagina + 1}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" th:href="@{'/?pagina=' + ${proximaPagina}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>



    <!-- Botão para adicionar novo veículo -->
    <a class="btn btn-success" th:href="@{/formulario}">Adicionar Veículo</a>
</div>

<!-- Adicionando o Bootstrap JS (opcional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Script para confirmar a exclusão -->
<script th:inline="javascript">
    function limparPesquisa() {
        document.getElementsByName("pesquisa")[0].value = "";
        window.location.href = "/";
    }
    $(document).ready(function() {
        $('#deletar').click(function(event) {
            if (!confirm("Tem certeza que deseja excluir este veículo?")) {
                event.preventDefault();
            }
        });
    });
</script>

</body>
</html>
